#//////////////////////////
# NPM
#//////////////////////////
node_modules/
package-lock.json
tools/dist/
proj/zips/
release/
proj/assets/bundles
proj/extensions/fix_engine/@types
proj/extensions/fix_engine/src/core
proj/extensions/fix_engine/src/impl
proj/extensions/hotupdate/@types
proj/extensions/hotupdate/src/core
proj/extensions/hotupdate/src/impl
proj/extensions/png-compress/@types
proj/extensions/png-compress/src/core
proj/extensions/png-compress/src/impl
proj/extensions/test-server/@types
proj/extensions/test-server/src/core
proj/extensions/test-server/src/impl
proj/zips_temp
proj/assets/bundles.meta
proj/assets/resources
proj/assets/resources.meta
proj/assets/scripts/common
proj/assets/scripts/common.meta
proj/assets/scripts/login
proj/assets/scripts/login.meta
proj/assets/scripts/plugin
proj/assets/scripts/plugin.meta
proj/assets/Application.ts
proj/assets/Application.ts.meta
proj/@types/cryptojs.d.ts
proj/@types/hall.d.ts
proj/@types/Proto.d.ts
proj/@types/Proto.js
proj/@types/protobuf.d.ts
proj/@types/TankBattleLogic.d.ts
proj/@types/taxi.d.ts
proj/assets/MainController.ts
proj/assets/MainController.ts.meta
proj/@types/project.d.ts
proj/assets/main.scene
proj/assets/main.scene.meta
