.view {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px;
}

.tips{
    background-color:#242424;
}