<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>update_status_fav.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>update_status_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>update_status_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_texture.png</string>
            <key>size</key>
            <string>{248,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:103c7815696dced5ea90c09bb12d12c1:a11de176070a5870a6d924e2faba323d:dfc6168fe39cbf667f5e46eea896f949$</string>
            <key>textureFileName</key>
            <string>lobby_texture.png</string>
        </dict>
    </dict>
</plist>
