<h2 class="flex-1 layout horizontal center">该插件只能检测预置之前的资源引用关系,不是所有资源类型都支持</h2>
<h2 class="flex-1 layout horizontal center">
    目前支持类型:cc.Sprite,cc.Button,cc.Label,cc.ParticleSystem,sp.Skeleton,cc.Animation</h2>
<ui-section header="Bundles" expand>
    <ui-prop>
        <ui-label slot="label" value="Bundles目录地址"></ui-label>
        <ui-file v-bind:value="gameRoot" slot="content" type="directory" disabled></ui-file>
    </ui-prop>
    <ui-prop v-for="bundle in bundles" >
        <ui-label slot="label" > {{ bundle.name + "(" + bundle.dir + ")" }}</ui-label>
        <ui-input slot="content" readonly v-bind:value = "bundle.db"></ui-input>
        <ui-button slot="content" @confirm="onCheckSubGame(bundle.dir)">检测</ui-button>
    </ui-prop>
</ui-section>